.srcWindow {
    width: 100%;
}

.ChatWindow {
    max-height: 500px;
    overflow-y: auto;
    /*border: solid 1px #000;
    vertical-align: baseline;
    padding: 0;*/
    overflow-x: hidden;
    width: 100%;
}

.msg {
    width: 70%;
}

.usersOnline {
    font-weight: bold;
}

.projectMessage {
    width: 100%;
    font-size: 11px;
    text-align: center;
}

.UsersList {
    /*border: solid 1px #000;*/
    overflow: auto;
    min-height: 300px;
}

.ArchiveDates {
    height: 500px;
    overflow: auto;
    padding: 0 0 0 5px;
    float: right;
    width: 15%;
}

.ChatMessage {
    position: relative;
    overflow: hidden;
}

.messageRow {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
}

.MessageAuthor {
    font-weight: bold;
    height: 100%;
    text-align: right;
    font-size: .9em;
}

@media (min-width: 1200px) {
    .MessageAuthor {
        padding-right: 5px !important;
        border-right: solid #dddddd 1px;
        border-bottom: none;
    }
}

.MessageAuthorPhoto {
    float: left;
    margin: 5px 0 5px 5px;
    border: solid 1px #ddd;
    width: 25px;
    height: 25px;
}

.MessageAuthorText {
    margin-top: 5px;
}

.MessageText {
    word-wrap: normal;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    /*border-left: solid 1px #dbdbdb;*/
}

@media (min-width: 1200px) {
    .MessageText {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.MessageTime {
    font-size: .8em;
    float: right;
    text-wrap: none;
    text-align: right;
    padding: 5px 15px 0 0 !important;
}

.ChatMentioned {
    color: #f00;
}

.ChatSelf {
    color: #00f;
}

.UserListUser {
    font-size: .9em;
}

.UserLoggedIn {
    font-weight: bold;
}

.UserNotLoggedIn {
}

.chatStatus {
    color: silver;
    border: solid 1px silver;
}

.ConnectedRoomTab {
    border: solid 1px #ddd;
    min-width: 125px;
    float: left;
    padding: 5px 5px 0 5px;
    margin-right: 5px;
    border-bottom: 0;
    cursor: pointer;
}

.ConnectedRoom {
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
}

.RoomClose {
    /*background-image: url('../../images/close-icn.png');*/
    width: 24px;
    height: 24px;
    float: right;
    right: -5px;
    top: -5px;
}

.roomAwayMessageCount, .roomAwayMentionCount {
    padding: 0 3px 0 3px;
    min-width: 10px;
    float: left;
    display: inline;
}

.activeRoom {
    background: #dbdbdb;
    font-weight: bold;
}

.ShowRoomListButton {
    float: right;
}

.UserListPhoto {
    border: solid 1px #ddd;
    width: 16px;
    float: left;
    height: 16px;
}

.ChatArchive .MessageTime {
    padding: 2px;
    font-size: .7em;
}

.archiveLink {
    clear: both;
}

.ui-datepicker {
    background: #fff;
    border: #000 solid 1px;
    padding: 5px;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-year, .ui-datepicker-month {
    font-weight: bold;
}

@media (max-width:992px) {
    .chatWrap {
        padding: 0 !important;
    }
}

.lblEndDate {
    clear: both;
}

.endDate, .startDate {
    float: right;
}

.nav-tabs {
    border-bottom: none !important;
}

.ChatWindow .list-group {
    width: 85%;
}

@media (min-width: 760px) {

    .ChatWindow .list-group {
        width: 90%;
    }
}


@media (min-width: 969px) {

    .ChatWindow .list-group {
        width: 96%;
    }
}


.ChatWindow li.list-group-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.chatUsers {
    margin: 0;
}

.RoomContainer .smallPad {
    padding-left: 5px;
    padding-right: 5px;
}

.LobbyArea .list-group {
    margin: 0;
}
